#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	# Install tools
	mkdir -p debian/lenovo-d330-fix/usr/local/bin
	cp tools/d330-* debian/lenovo-d330-fix/usr/local/bin/ || true
	# Install modprobe
	mkdir -p debian/lenovo-d330-fix/etc/modprobe.d
	cp patches/*/etc/modprobe.d/*.conf debian/lenovo-d330-fix/etc/modprobe.d/ || true
	# Install udev
	mkdir -p debian/lenovo-d330-fix/etc/udev/rules.d debian/lenovo-d330-fix/etc/udev/hwdb.d
	cp patches/*/etc/udev/rules.d/*.rules debian/lenovo-d330-fix/etc/udev/rules.d/ || true
	cp patches/*/etc/udev/hwdb.d/*.hwdb debian/lenovo-d330-fix/etc/udev/hwdb.d/ || true
	# Install systemd
	mkdir -p debian/lenovo-d330-fix/etc/systemd/system
	cp patches/*/etc/systemd/system/*.service debian/lenovo-d330-fix/etc/systemd/system/ || true
