[Unit]
Description=Lenovo IdeaPad D330 Backlight PWM Frequency Scaling
After=systemd-backlight@backlight:intel_backlight.service
ConditionPathExists=/sys/class/backlight/intel_backlight

[Service]
Type=oneshot
ExecStart=/usr/local/bin/d330-backlight-pwm.py --apply
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
