# Lenovo IdeaPad D330-10IGL Sensor udev rules
# Sets device permissions and tags for IIO accelerometer and light sensor

# Accelerometer BOSC0200. Case-insensitive class because firmware may expose the
# ACPI HID in either case.
SUBSYSTEM=="iio", ATTR{name}=="*[Bb][Oo][Ss][Cc]0200*", TAG+="uaccess", ENV{IIO_SENSOR_PROXY_TYPE}="accelerometer"

# Ambient Light Sensor ACPI0008. Case-insensitive class.
SUBSYSTEM=="iio", ATTR{name}=="*[Aa][Cc][Pp][Ii]0008*", TAG+="uaccess", ENV{IIO_SENSOR_PROXY_TYPE}="ambient-light-sensor"
